*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.one{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.page-header{
    height: 20vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.page-header h1{
    font-size: 28px;
    font-weight: 20;
    color: rgb(69, 69, 69);
}
.two{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.Cart_itemlist{
    width: 65%;
    display: flex;
    justify-content: center;
}
.cartheader{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.product{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: start;
}
.product span{
    width: 100%;
    color: #6a6a6a;
    letter-spacing: 2px;
}
.decription{
    width: 40%;
    height: 100%;
}
.quantity{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.quantity span{
    width: 100%;
    text-align: center;
    color: #6a6a6a;

}
.total{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.total span{
    color: #6a6a6a;
    width: 100%;
    text-align: end;
}
.three{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cart-bottom{
    width: 65%;
    height: 25vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc4c4;
    border-left: 0;
    border-right: 0;
}
.bottom-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-image{
    width: 12%;
}
.dec{
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dec span{
    font-size: 13px;
    letter-spacing: 2px;
    color: #1f1d1d;
    font-weight: 80;
}
.dec :nth-child(1){
    letter-spacing: 3px;
}
.dec :nth-child(2){
    font-size: 11px;
}
.qty{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    margin-top: 10px;
}
.link span{
    font-size: 12px;
}
.price{
    width: 15%;
    display: flex;
    justify-content: end;
}
.price span{
    color: #6a6a6a;
    letter-spacing: 2px;
    font-size: 12px;
}
.cart-image img{
    width: 120px;
}
.cart-icons{
    width: 70px;
    height: 25px;
    border: 1px solid #ccc4c4;
    color: #6a6a6a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.cart-icons i{
    font-size: 12px;
    cursor: pointer;
}
.four{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cart-footer{
    width: 65%;
    display: flex;
    justify-content: center;
}
.cart-NoteConyainer{
    display: flex;
    width: 100%;
    height: 30vh;
}
.cart-form-A{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart-form-A p{
    font-size: 16px;
    color: #5c5c5c;
}
.cart-form-A textarea{
    width: 100%;
    height: 12vh;
    border:1px solid #e7e7e7;
    margin-top: 20px;
    position: relative;
    padding: 12px 14px;
    resize: none;
    font-size: 16px;
    transition: border-color 0.1s ease-in-out;
}
.cart-form-A textarea:focus{
    outline-color:rgba(92, 92, 92, 0.348);
}
.cart-form-A textarea::placeholder{
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 16px;
}
.cart-form-B{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}
.cart-form-B span{
    color: #5c5c5c;
    font-size: 15PX;
}
.cart-form-B :nth-child(1){
    color: #1c1b1b;
    letter-spacing: 2px;
    font-size: 14px;  
}
.cart-form-B :nth-child(2){
    font-size: 15px;
}
.cart-form-B button{
    width: 150px;
    height: 50px;
    display: inline-block;
    padding: .75rem 1.25rem;
    color: #fff;
    font-size: 12px;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 0;
    background-color: #545252;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #545252;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      transition: all .5s;
      z-index: -1;
    }
    &:hover {
      color: #333131;
      border: 1px solid #6a6a6a;
      cursor: pointer;
      &:before {
        width: 100%;
      }
    }
}

/* Blog Page Statrt */

.Blog-one{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.title-header{
    width: 50%;
}
.title-header h2{
    width: 100%;
    font-size: 48px;
    text-align: center;
}
.title-header h4{
    text-align: start;
}
.Blog-two{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.main-two{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
}
.Recent h4{
    font-size: 22px;
}
.Blog-three{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.main-three{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */

}
.content-flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    gap: 40px;

}
.content{
    width: 40vw;
    height: 80vh;
    /* border: 1px solid black; */
    padding: 10px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.content img{
    width: 40vw;
    height: 45vh;
}
.content-dec{
    margin-top: 20px;
}
.content-dec span{
    color: #424242;
}
.content-dec h3{
    font-size: 35px;
    line-height: 40px;
    margin-top: 20px;
}
.content-dec p{
    margin-top: 10px;
    font-size: 22px;
    color: #424242;
}
.pakistani{
    line-height: 30px;
    color: #424242;
    font-size: 15px;
    font-weight: 100;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}





























































































@media screen and (max-width: 1300px){
    .header h1{
        font-size: 42px;
    }
    .Cart_itemlist{
        width: 82%;
    }
    .product span,
    .quantity span,
    .total span{
        font-size: 20px;
    }
    .cart-bottom{
        width: 82%;
    }
    .dec{
        margin-left: 20px;
        gap: 35px;
    }
    .dec span{
        font-size: 16px;
    }
    .dec :nth-child(2){
        font-size: 16px;
    }
    .price span{
        font-size: 16px;
    }
    .cart-footer{
        width: 82%;
    }
    .cart-form-A p{
        font-size: 18px;
    }
    .cart-form-A textarea::placeholder{
        font-size: 18px;
    }
    .cart-form-B :nth-child(1),
    .cart-form-B :nth-child(2){
        font-size: 18px;
    }
    .cart-form-B button{
        width: 250px;
        font-size: 18px;
    }

}
@media screen and (max-width: 1200px){
    .header h1{
        font-size: 42px;
    }
    .page-header{
        margin-top: 0;
    }
    .product span,
    .quantity span,
    .total span{
        font-size: 22px;
    }
    .cart-bottom{
        width: 75%;
        height: 18vh;
    }
    .Cart_itemlist{
        width: 75%;
    }
    .bottom-list{
        position: relative;
    }
    .cart-image{
        position: absolute;
        left: 10px;
        width: 140px;
        height: 14vh;
    }
    .cart-image img{
        width: 140px;
        height: 14vh;
    }
    .dec{
        position: absolute;
        left: 170px;
        gap: 30px;
        width: 35%;
    }
    .dec :nth-child(1){
        line-height: 23px;
        font-size: 18px;
    }
    .dec :nth-child(2){
        font-size: 18px;
    }
    .qty{
        position: absolute;
        right: 125px;
        top: 95px;
    }
    .price{
        position: absolute;
        right: 10px;
        top: 113px;
    }
    .price span{
        font-size: 18px;
    }
    .cart-footer{
        width: 78%;
    }
    .cart-form-A p{
        font-size: 20px;
    }
    .cart-form-A textarea::placeholder{
        font-size:20px;
    }
    .cart-form-B :nth-child(1){
        font-size:20px;
    }
    .cart-form-B :nth-child(2){
        font-size:20px;
    }
    .cart-form-B button{
        width: 200px;
        font-size: 18px;
    }
}
@media screen and (max-width: 1080px){
    .header h1{
        font-size: 42px;
    }
    .page-header{
        margin-top: 0;
    }
    .product span,
    .quantity span,
    .total span{
        font-size: 22px;
    }
    .cart-bottom{
        width: 75%;
        height: 34vh;
    }
    .Cart_itemlist{
        width: 75%;
    }
    .bottom-list{
        position: relative;
    }
    .cart-image{
        position: absolute;
        left: 10px;
        width: 152px;
        height: 33vh;
    }
    .cart-image img{
        width: 152px;
        height: 33vh;
    }
    .dec{
        position: absolute;
        left: 185px;
        gap: 30px;
        width: 35%;
    }
    .dec :nth-child(1){
        line-height: 23px;
        font-size: 18px;
    }
    .dec :nth-child(2){
        font-size: 18px;
    }
    .qty{
        position: absolute;
        right: 125px;
        top: 60px;
    }
    .price{
        position: absolute;
        right: 10px;
        top: 75px;
    }
    .price span{
        font-size: 18px;
    }
    .cart-footer{
        width: 78%;
    }
    .cart-form-A p{
        font-size: 20px;
    }
    .cart-form-A textarea::placeholder{
        font-size:20px;
    }
    .cart-form-B :nth-child(1){
        font-size:20px;
    }
    .cart-form-B :nth-child(2){
        font-size:20px;
    }
    .cart-form-B button{
        width: 200px;
        font-size: 18px;
    }
}
@media screen and (max-width: 920px){
    .page-header{
        margin-top: 0;
    }
    .two{
        margin-top: 20px;
    }
    .Cart_itemlist{
        width: 88%;
        position: relative;
    }
    .product span,
    .quantity span,
    .total span{
        font-size: 22px;
        letter-spacing: 2;
    }
    .three{
        margin-top: 20px;
    }
    .cart-bottom{
        width: 85%;
        height: 23vh;
    }
    .cart-image{
        width: 180px;
        height: 21vh;
        position: absolute;
        left: -4px;
        top: 6px;
    }
    .cart-image img{
        width: 182px;
        height: 22vh;
    }
    .dec{
        width: 32%;
        gap: 33px;
        position: absolute;
        left: 215px;
    }
    .dec :nth-child(1){
        font-size: 20px;
        line-height: 27px;
    }
    .dec :nth-child(2){
        font-size: 18px;
    }
    .qty{
        position: absolute;
        right: 112px;
        top: 95px;
    }
    .price{
        position: absolute;
        right: 0;
        top: 110px;
    }
    .price span{
        font-size: 20px;
    }
    .cart-icons{
        width: 70px;
        height: 26px;
    }
    .cart-icons i{
        font-size: 16px;
    }
    .cart-icons span{
        font-size: 22px;
    }
    .four{
        margin-top: 37px;
    }
    .cart-footer{
        width: 85%;
    }
    .cart-form-B :nth-child(1),
    .cart-form-B :nth-child(2){
        font-size: 18px;
    }
    .cart-form-A textarea{
        width: 92%;
        height: 10vh;
    }
}
@media screen and (max-width: 770px){
    .page-header{
        margin-top: 0;
    }
    .two{
        margin-top: 20px;
    }
    .Cart_itemlist{
        width: 88%;
    }
    .product span,
    .quantity span,
    .total span{
        font-size: 15px;
        letter-spacing: 0;
    }
    .total,
    .price{
        display: none;
    }
    .three{
        margin-top: 35px;
    }
    .cart-bottom{
        width: 85%;
    }
    .cartheader,
    .bottom-list{
        position: relative;
    }
    .quantity,
    .qty{
        position: absolute;
        right: -40px;
    }
    .qty{
        top: 70px;
    }
    .product,
    .cart-image{
        position: absolute;
        left: 5px;
    }
    .cart-image{
        width: 146px;
        height: 22vh;
    }
    .cart-image img{
        width: 146px;
        height: 22vh;
    }
    .dec{
        width: 50%;
        gap: 20px;
        position: absolute;
        left: 175px;
        top: 50px;
    }
    .dec :nth-child(1){
        font-size: 18px;
    }
    .dec :nth-child(2){
        font-size: 16px;
    }
    .cart-icons{
        width: 50px;
        height: 12px;
    }
    .cart-icons i{
        font-size: 9px;
    }
    .cart-icons span{
        font-size: 14px;
    }
    .cart-footer{
        width: 85%;
    }
    .cart-form-B :nth-child(1),
    .cart-form-B :nth-child(2){
        font-size: 15px;
    }
    .cart-form-A textarea{
        width: 92%;
        height: 10vh;
    }
} 
@media screen and (max-width: 550px){
      .page-header{
          margin-top: 0;
      }
      .two{
          margin-top: 20px;
      }
      .Cart_itemlist{
          width: 88%;
      }
      .product span,
      .quantity span,
      .total span{
          font-size: 12px;
          letter-spacing: 0;
      }
      .total,
      .price{
          display: none;
      }
      .three{
          margin-top: 20px;
      }
      .cart-bottom{
          width: 85%;
      }
      .cartheader,
      .bottom-list{
          position: relative;
      }
      .quantity,
      .qty{
          position: absolute;
          right: -40px;
      }
      .qty{
        top: 45px;
      }
      .product,
      .cart-image{
          position: absolute;
          left: 5px;
      }
      .cart-image{
          width: 120px;
      }
      .cart-image img{
        width: 100px;
    }
      .dec{
          width: 50%;
          gap: 20px;
          position: absolute;
          left: 118px;
          top: 35px;
      }
      .dec :nth-child(1){
        font-size: 14px;
        line-height: 15px;
      }
      .dec :nth-child(2){
        font-size: 12px;
      }
      .cart-icons{
          width: 50px;
          height: 12px;
      }
      .cart-icons i{
          font-size: 9px;
      }
      .cart-icons span{
          font-size: 14px;
      }
      .cart-footer{
          width: 95%;
      }
      .cart-form-B :nth-child(1){
          font-size: 10px;
      }
      .cart-form-B :nth-child(2){
          font-size: 12px;
      }
}
@media screen and (max-width: 475px){
    .quantity span,
    .product span,
    .total span,
    .price{
        display: none;
    }
    .page-header{
        height: 10vh;
        margin-top: 0;
    }
    .header h1{
        font-size: 20px;
    }
    .cart-bottom{
        width: 93%;
        height: 23vh;
    }
    .bottom-list{
        position: relative;
    }
    .cart-image{
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        height: 23vh;
    }
    .cart-image img{
        width: 125px;
        height: 23vh;
    }
    .dec{
        position: absolute;
        top: 34px;
        left: 142px;
        width: 68%;
        gap: 20px;
        width: 55%;
    }
    .dec :nth-child(1){
        font-size: 12px;
        line-height: 15px;
    }
    .dec :nth-child(2){
        font-size: 15px;
    }
    .dec span{
        font-size: 15px;
        line-height: 20px;
    }
    .qty{
        position: absolute;
        top: 155px;
        right: 145px;
    }
    .cart-icons{
        width: 40px;
        height: 10px;
    }
    .cart-icons i{
        font-size: 10px;
    }
    .cart-icons span{
        font-size: 12px;
    }
    .cart-footer{
        width: 95%;
    }
    .cart-NoteConyainer{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }
    .cart-form-B{
        position: absolute;
        top: 10px;
        right: 5px;
        gap: 10px;
        width: 92%;
    }
    .cart-form-B :nth-child(1){
        font-size: 12px;
    }
    .cart-form-B :nth-child(2){
        font-size: 12px;
    }
    .cart-form-B button{
        margin-top: 10px;
        margin-right: 8px;
        width: 100%;
    }
    .cart-form-A{
        position: absolute;
        top: 225px;
        width: 100%;   
    }
    .cart-form-A textarea{
        width: 90%;
        height: 18vh;
    }
}
@media screen and (max-width: 420px){
    .dec{
        left: 140px;
        top: 10px;
        width: 55%;
        gap: 35px;
    }
    .qty{
        right: 135px;
    }
    .dec span{
        line-height: 22px;
    }
    .dec :nth-child(1){
        font-size: 12px;
        line-height: 15px;
    }
}
@media screen and (max-width: 400px){
    .quantity span,
    .product span,
    .total span,
    .price{
        display: none;
    }
    .page-header{
        height: 10vh;
        margin-top: 0;
    }
    .header h1{
        font-size: 20px;
    }
    .cart-bottom{
        width: 93%;
        height: 23vh;
    }
    .bottom-list{
        position: relative;
    }
    .cart-image{
        position: absolute;
        left: 0;
        top: 0;
        width: 125px;
    }
    .dec{
        position: absolute;
        top: 40px;
        right: -6px;
        width: 65%;
        gap: 20px;
    }
    .dec span{
        font-size: 12px;
        line-height: 17px;
    }
    .dec :nth-child(2){
        font-size: 12px;
    }
    .qty{
        position: absolute;
        top: 143px;
        right: 115px;
    }
    .cart-icons{
        width: 40px;
        height: 10px;
    }
    .cart-icons i{
        font-size: 10px;
    }
    .cart-icons span{
        font-size: 12px;
    }
    .cart-footer{
        width: 95%;
    }
    .cart-NoteConyainer{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }
    .cart-form-B{
        position: absolute;
        top: 10px;
        right: 5px;
        gap: 10px;
        width: 92%;
    }
    .cart-form-B :nth-child(1){
        font-size: 12px;
    }
    .cart-form-B :nth-child(2){
        font-size: 12px;
    }
    .cart-form-B button{
        margin-top: 10px;
        margin-right: 8px;
        width: 100%;
    }
    .cart-form-A{
        position: absolute;
        top: 225px;
        width: 100%;   
    }
    .cart-form-A textarea{
        width: 90%;
        height: 18vh;
    }
}
@media screen and (max-width: 380px){
    .qty{
        top: 115px;
        right: 105px;
    }
    .dec{
        top: 14px;
        right: -16px;
    }
    .dec :nth-child(1){
        font-size: 12px;
        line-height: 15px;
    }
    .dec :nth-child(2){
        font-size: 12px;
    }

    .cart-image{
        width: 125px;
    }
    .cart-bottom{
        height: 23vh;
    }
}
@media screen and (max-width: 365px){
    .qty{
        right: 92px;
    }
}
@media screen and (max-width: 350px){
    .qty{
        right: 100px;
    }
    .dec{
        width: 55%;
        left: 142px;
    }
    .cart-form-B{
        right: 12px;
    }
}