*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.one{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.page-header{
    height: 20vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.page-header h1{
    font-size: 28px;
    font-weight: 20;
    color: rgb(69, 69, 69);
}
.two{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.Cart_itemlist{
    width: 65%;
    display: flex;
    justify-content: center;
}
.cartheader{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.product{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: start;
}
.product span{
    width: 100%;
    color: #6a6a6a;
    letter-spacing: 2px;
}
.decription{
    width: 40%;
    height: 100%;
}
.quantity{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.quantity span{
    width: 100%;
    text-align: center;
    color: #6a6a6a;

}
.total{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.total span{
    color: #6a6a6a;
    width: 100%;
    text-align: end;
}
.three{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cart-bottom{
    width: 65%;
    height: 25vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc4c4;
    border-left: 0;
    border-right: 0;
}
.bottom-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-image{
    width: 12%;
}
.dec{
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
.dec span{
    font-size: 13px;
    letter-spacing: 2px;
    color: #1f1d1d;
    font-weight: 80;
}
.dec :nth-child(1){
    letter-spacing: 3px;
}
.dec :nth-child(2){
    font-size: 11px;
}
.qty{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    margin-top: 10px;
}
.link span{
    font-size: 12px;
}
.price{
    width: 15%;
    display: flex;
    justify-content: end;
}
.price span{
    color: #6a6a6a;
    letter-spacing: 2px;
    font-size: 12px;
}
.cart-image img{
    width: 120px;
}
.cart-icons{
    width: 70px;
    height: 25px;
    border: 1px solid #ccc4c4;
    color: #6a6a6a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.cart-icons i{
    font-size: 12px;
    cursor: pointer;
}
.four{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cart-footer{
    width: 65%;
    display: flex;
    justify-content: center;
}
.cart-NoteConyainer{
    display: flex;
    width: 100%;
    height: 30vh;
}
.cart-form-A{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart-form-A p{
    font-size: 16px;
    color: #5c5c5c;
}
.cart-form-A textarea{
    width: 100%;
    height: 12vh;
    border:1px solid #e7e7e7;
    margin-top: 20px;
    position: relative;
    padding: 12px 14px;
    resize: none;
    font-size: 16px;
    transition: border-color 0.1s ease-in-out;
}
.cart-form-A textarea:focus{
    outline-color:rgba(92, 92, 92, 0.348);
}
.cart-form-A textarea::placeholder{
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 16px;
}
.cart-form-B{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}
.cart-form-B span{
    color: #5c5c5c;
    font-size: 15PX;
}
.cart-form-B :nth-child(1){
    color: #1c1b1b;
    letter-spacing: 2px;
    font-size: 14px;  
}
.cart-form-B :nth-child(2){
    font-size: 15px;
}

.cart-form-B button{
    width: 150px;
    height: 50px;
    display: inline-block;
    padding: .75rem 1.25rem;
    color: white;
    font-size: 12px;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 0;
    background-color: #545252;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #545252;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      transition: all .5s;
      z-index: -1;
    }
    &:hover {
      color: #333131;
      border: 1px solid #6a6a6a;
      cursor: pointer;
      &:before {
        width: 100%;
      }
    }
}

/* Blog Page Statrt */

.Blog-one{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.title-header{
    width: 50%;
}
.title-header h2{
    width: 100%;
    font-size: 48px;
    text-align: center;
}
.title-header h4{
    text-align: start;
}
.Blog-two{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.main-two{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
}
.Recent h4{
    font-size: 22px;
}
.Blog-three{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.main-three{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */

}
.content-flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    gap: 40px;

}
.content{
    width: 40vw;
    height: 80vh;
    /* border: 1px solid black; */
    padding: 10px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.content img{
    width: 40vw;
    height: 45vh;
}
.content-dec{
    margin-top: 20px;
}
.content-dec span{
    color: #424242;
}
.content-dec h3{
    font-size: 35px;
    line-height: 40px;
    margin-top: 20px;
}
.content-dec p{
    margin-top: 10px;
    font-size: 22px;
    color: #424242;
}
.pakistani{
    line-height: 30px;
    color: #424242;
    font-size: 15px;
    font-weight: 100;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}





/* Cart Page  */

.slider-one{
    width: 99%;
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
}

.main-container{
    position: relative;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    position: relative;
 }
.slider-container{
    width: 48%;
    height: 100%;
    background: #eee;
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;


}
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}  
.slider-decription-main{
    width: 48%;
    height: 100%;
}
.slider-decrition{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.slider-decrition p{
    color: #424242;
    font-size: 27px;
    letter-spacing: 5px;
    font-weight: 100;
}
.slider-decrition h6{
    color: #424242;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.dec-flex{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.price-red span{
    color: red;
    font-size: 25px;
}
.price-cross span{
    font-size: 22px;
    text-decoration: line-through;
}
.cart-quantity{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    margin-top: 40px;
    border: 1px solid rgb(214, 208, 208);
}
.cart-quantity span{
    font-size: 18px;
    color: #424242;
}
.cart-quantity i{
    color: #424242;
}
.cart-button{
    margin-top: 30px;
}
.cart-button button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 60px;
    padding: .75rem 1.25rem;
    color: #fff;
    font-size: 12px;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 0;
    background-color: #545252;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #545252;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: white;
      transition: all .5s;
      z-index: -1;
    }
    &:hover {
      color: #333131;
      border: 1px solid #6a6a6a;
      cursor: pointer;
      &:before {
        width: 100%;
      }
    }
}
.cart-button button span{
    font-size: 18px;
    text-transform: uppercase;

}
.poduct-detail{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
.poduct-detail h5{
    font-size: 18px;
    color: #424242;

}
.poduct-detail span{
    font-size: 16px;
    font-weight: 100;
    color: #424242;
}
.cart-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}














































































